
body{
  margin:0px;
  padding: 0px;
  line-height: 1.7;
  color: #666666;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.btn-primary{
  border: 1px solid;
}
#team{
  margin-top: 15px;
  width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  font-size: 1.3rem;
  color: #2c2c2c;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin: 20px;
}
.heading i{
  background-color: #507bfc;
  box-shadow: 2px 5px 30px rgba(80,123,252,0.4);
  color: #ffffff;
  width:40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 0px 20px;
}
.box{
  width:266px;
  height: 340px;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  position: relative;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top-bar{
  width:50%;
  height: 4px;
  position: absolute;
  left: 50%;
  top: 0px;
  transform: translateX(-50%);
  background-color: #507bfc;
  border-radius: 0px 0px 10px 10px;
}
.verify{
  color:#17b667;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav .heart{
  color: rgba(155,155,155);
}
.nav .heart:before{
  content: '\f004';
  font-family: fontAwesome;
  line-height: 30px;
  z-index: 1;
  cursor: pointer;
}
.nav .heart-btn:checked ~ .heart:before{
  color: #e41934;
}
.nav .heart-btn{
  display: none;
}
.details{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.details img{
  width:100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
}
.details strong{
  font-weight: 500;
  color: #141414;
  letter-spacing: 1px;
  margin-top: 10px;
}
.details p{
  font-size: 0.8rem;
  color: #7a7a7a;
  margin: 5px 0px;
}
.btn{
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn a{
  color:#8b8b8b;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 0.9rem;
}
.btn a i{
  margin-right: 10px;
}
.btn a:hover{
  color: #fff;
  background-color: #507bfc;
  box-shadow: 2px 5px 15px rgba(80,123,252,0.5);
  transition: all ease 0.3s;
}
.box:hover{
  box-shadow: 2px 2px 30px rgba(4,15,49,0.1);
  transform: scale(1.01);
  transition: all ease 0.1s;
}
@media(max-width:612px){
  .box{
      flex-grow: 0.7;
  }
}


/*END OF TEAM SECTION*/

/*PARTNERS SECTION */
.partners-wrap{
width: 90%;
height: auto;
text-align: center;
}

.partners-wrap h2{
font-size: 30px;
color: #141414;
}

.partners-in{
width: 100%;
height: auto;
}

.partners-in ul{
padding: 0;
margin: 0;

}

.partners-in ul li{
list-style: none;
display: inline-block;
width: 150px;
height: 100px;
position: relative;
overflow: hidden;
}

.partners-in ul li img{
width: 150px;
height: 100px;
padding: 15px;
}


/*END OF PARTNERS SECTION*/

/*Accomplishments and projects section*/
#accomplish {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4em;
}
.card {
  border: transparent;
}
.accomplish-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/2.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
  height: 20em;
  text-align: center;
}
.accomplish-text {
  padding-top: 9em;
}
.projects {
  text-align: center;
  margin-top: 4em;
}
#project-2 {
  margin-top: 4em;
}
/*end of accomplishments section*/

.footer {
  background-color: rgb(37, 39, 46) !important;
  margin-top: 80px;
}

.f-contents {
  padding-top: 50px;
}

.useful-links {
  color: #fff;
}

.useful-links.line-bottom {
  border-bottom: 1px solid #444;
}

.list-border li {
  border-bottom: 1px dashed #404040;
}
.text-theme-colored {
  color: #3db4d9 !important;
}

.connect {
  color: #fff;
  padding-top: 10px;
}

.icon-theme-colored a {
  background-color: #3db4d9;
  color: #fff;
}

a {
  color: #808080;
  text-decoration: none;
}

.styled-icons a {
  margin: 2px 7px 10px 0;
  padding: 4px 5px 3px 5px;
  /* color: #333333; */
  font-size: 18px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#icons-bt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-bottom {
  background-color: #333333 !important;
  height: 120px;
  margin-top: 80px;
  text-align: center;
}
/*contact/mailchimp*/
#mce-EMAIL, #mce-MESSAGE, #mce-NAME{
  background: transparent;
}
#mc_embed_signup{
  
  background: transparent;
}

#contact{
  padding-top: 3em;
  display: flex;
  flex-direction: row;
}
#mail{
  background: transparent;
  height: fit-content;
  
}
#copyright{
  color: whitesmoke;
}
#link{
  padding-top: 6em;
}

#address{
  padding-top: 6em;
}
@media screen and (max-width: 600px) {
  .useful-links {
    margin-top: 40px;
  }
}
.carousel-item {
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

figure {
    position: relative;
    width: 100%;
    height: 60%;
    margin: 0!important;
}
.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
}
#fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
